* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: Georgia, 'Times New Roman', serif;

  background-color: #f4f1e8;
  color: #243126;
  font-size: 18px;
}

a {
  color: inherit;
}